<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD 게시판</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
</head>

<body>
    <div id="wrap">
        <header id="header">
            <div class="header-title">|| User Board ||</div>
        </header>
        <div class="container view-container">
            <div class="view-header">
                <!-- header -->
                <div class="list-head">
                    <div class="list-body"></div>
                    <button class="back btn ">
                        <a href="/" class="btn-cancel">목록으로 돌아가기</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>