<form id="login-form"> 
    <input type="text" class="id-input" placeholder="이메일 주소 또는 전화번호" required>
    <input type="password" class="id-passowrd" placeholder="password 입력" required>
    <div class="rememId">
        <input type="checkbox" class="remember">
        <label>ID기억하기</label>
    </div>
    <button class="btn next" type="submit">로그인</button>
    <div class="accounting">
        <a href="#">ID 찾기</a>
        <a href="#">계정 생성</a>
    </div>
    <div class="account-btn">
    <button class="btn login-btn" type="button">Google 계정 로그인</button>
    <button class="btn login-btn" type="button">QR 코드 로그인</button>
</div>
</form>